[2019-08-15 09:35] kabicm opened #14 "Multiply using only 1 process"
The current code assumes that at least 2 MPI processes are used. If only 1 process is used, then there are no any divisions, so strategy is empty, which causes a segfault when the matrices are created. Specifically, when matrices are created, the buffers are created as well, and the segfault appears in `compute_buff_sizes` in `n_buckets_[step] == 1` line. `n_buckets_` has size equal to `strategy_-

[2019-08-16 12:33] kabicm commented on #14
The issue is resolved in commit 85d3a5cd229d2a46feb139d21085f48cc8e60cef.

[2019-08-16 12:33] #14 closed

[2019-09-03 08:05] kabicm opened #15 "Remove beta parameter from strategy"
Currently, beta parameter in strategy is of type double (thus not templated). However, there is no need for strategy to contain this parameter. Strategy has to be decoupled from the command line parser (options) and beta should be removed from strategy.

[2020-01-16 16:58] kabicm opened #20 "Wrong results when beta>0 in a specific case"
The pdgemm wrapper gives wrong results, when pdgemm is invoked with the following parameters:
[code]

[2020-01-16 18:19] kabicm commented on #20
Resolved in commit: 7f6b8dc99c9f8daaa0b2f3d7ad930d1537490c68

The main reason why this was happening is because the initial values of matrix C were getting overwritten during communication.

The details are given in the following comment that is now present in the code:
[code]

[2020-01-16 18:19] #20 closed

[2020-02-28 00:27] kabicm opened #21 "Amortize pinning/unpinning of memory."
Instead of pinning/unpinning of buffers within each local_multiply call, amortize it by reusing pinned buffers from the previous multiplication if possible. This can be done through the context.

[2020-02-29 22:44] #21 closed

[2020-03-07 22:06] kabicm commented on #15
Resolved in commit #97751914c43ba3044dda7a58c9a14efda38e7149

The beta parameter is now removed from the strategy. It was mostly used in the buffer class. However, it was only used as an indicator of whether additional reduce buffers are going to be allocated. To make it independent of the beta parameter, we set this value to 1, so that buffers will always allocate additional reduce buffer. This m

[2020-03-07 22:06] #15 closed

[2020-03-11 10:29] kabicm opened #23 "Multi GPU support"
At the moment, it is assumed that each rank uses a single GPU. However, we should also be able to deal with mutliple GPUs being available to the same MPI rank.

[2020-03-11 15:15] shoshijak opened #24 "Compilation fails with CUDA 9"
When compiling COSMA using CUDA 9, and the following instructions:

[code]

The compilation fails with:
[code]

The header `cublasLt.h` is indeed not included in CUDA 9.
Compiling with CUDA 10, however, works fine.

[2020-03-12 01:01] kabicm commented on #24
Thanks @shoshijak for catching this! It should be fixed in commit: #e50042a5a4f412ed906b01d0d8010181efcea222.

[2020-03-12 01:01] #24 closed

[2020-03-16 08:11] kabicm opened #27 "Add a memory limit variable"
COSMA is able to deal with limited memory, but the available memory per rank should be specified by the user. If not specified, infinite memory is assumed. We want to add an environment variable that will specify the amount of available memory.

[2020-03-24 15:02] oschuett opened #29 "Bundled semiprof package has no license"
Please add a license to the bundled [semiprof](https://github.com/kabicm/semiprof) repository or simply rebase onto the [original](https://github.com/bcumming/semiprof) repository.

[2020-03-24 16:01] kabicm commented on #29
Thanks @oschuett for catching this! I updated now the bundled semiprof repo, so it also contains the Licence.

Btw, the PR to the original repo is created and has been waiting for some time now. As soon as our PR gets merged, we can then use the original repo directly.

[2020-03-24 16:01] #29 closed

[2020-03-24 21:16] oschuett commented on #29
Thanks for the quick response :-)

[2020-04-11 10:19] antoscha opened #32 "Shared library"
Please, include a CMAKE option to build COSMA as a shared library.

[2020-04-11 15:37] haampie commented on #32
See https://github.com/eth-cscs/COSMA/pull/31

[2020-04-11 18:28] oschuett opened #33 "Division by zero in interval.cpp"
The CP2K scaling test [found](https://dashboard.cp2k.org/archive/scaling/commit_4c021fa84001910a05e02aba7306f02b5dd5a3ff.txt) an _erroneous arithmetic operation_ at [interval.cpp:41](https://github.com/eth-cscs/COSMA/blob/master/src/cosma/interval.cpp#L41). Presumably, the other divisions in that file are also at risk.

[2020-04-12 19:02] kabicm commented on #33
@oschuett Thanks for the issue! Is COSMA here built with MKL? Because I see `OMP_NUM_THREADS` set but `MKL_NUM_THREADS`.

[2020-04-12 19:38] oschuett commented on #33
It's build with the [default toolchain](https://github.com/cp2k/cp2k/blob/master/tools/toolchain/Dockerfile). So, Openblas and Scalapack. We never set `MKL_NUM_THREADS` in our tests. The div-by-zero occurred in [H2O-32.inp](https://github.com/cp2k/cp2k/blob/master/benchmarks/QS/H2O-32.inp) with a single MPI rank and 8 OpenMP threads.

[2020-04-12 19:44] kabicm commented on #33
Thanks, I am able to reproduce it. It doesn't seem like a serious bug, just the wrong division strategy is being produced. I will work on it.

[2020-04-12 19:55] oschuett commented on #33
I think, it's best to avoid divisions by zero as they gives undefined results.
In CP2K we often use `foo / MAX(1,bar)` for these edge cases.

Btw, personally I'm a big fan of floating point exception (which trigger for integers too). They can be very useful while adding virtually no overhead.

[2020-04-12 20:00] kabicm commented on #33
Fixed! Not sure if that would just hide these bugs even more?

[2020-04-12 20:21] oschuett commented on #33
Thanks! Of course, catching the these edge cases in a single place, as you did, is the best solution :-)

[2020-04-12 20:24] kabicm commented on #33
We will publish soon (probably tomorrow) the version `2.1`, which will include one more feature and will have this bug fixed, so that we can also update it in cp2k :)

[2020-04-12 20:26] #33 closed

[2020-04-14 13:25] kabicm commented on #27
Sorry for such a late reponse, but code correctness had higher priority. I just want to point out that recently, we fixed few bugs which were causing COSMA to reserve excessive amounts of memory, more than it actually uses, which should now be fixed.

[2020-04-18 01:42] kabicm opened #37 "CI broken after force pushing"
The mirroring on gitlab fails after force pushing on github. I believe the problem is connected to the following:
https://gitlab.com/gitlab-org/gitlab/issues/1063

I cannot push to the protected branch on gitlab.

@haampie do you have some idea how this could be fixed?

[2020-04-18 10:12] haampie commented on #37
It's fixed now by unprotecting the branch on gitlab

[2020-04-18 10:12] #37 closed

[2020-04-20 14:11] #27 closed

[2020-04-20 23:34] kabicm opened #40 "Use memory pool for MPI buffers ( packing/unpacking )"

[2020-04-21 11:13] pseewald opened #41 "segfault for CP2K RPA"
I get a segfault in COSMA for CP2K RPA on a system of 256 water molecules. The backtrace is:

[code]
The calculation was run on Piz Daint gpu partition / 1024 nodes with 12 OMP threads per rank.

CP2K input file:
[H2O-RI-RPA-TZ-COSMA.inp.txt](https://github.com/eth-cscs/COSMA/files/4509561/H2O-RI-RPA-TZ-COSMA.inp.txt)

I used COSMA commit 374ddb4ecdd8991a61527d9e538b515f5d42fb2e

[2020-04-21 11:26] kabicm commented on #41
Thanks @pseewald! Confirmed, reproduced, working on it now.

[2020-04-21 15:05] kabicm commented on #41
The bug is fixed in the commit 92965d07baa7e9f27e47134c2452f8e33535603f.

It was caused by int overflow operations. Now the full CP2K benchmark (256 RPA-RI for water molecules) is able to run on 1024 GPU nodes.

[2020-04-21 15:05] #41 closed

[2020-04-21 15:11] pseewald commented on #41
Fantastic, thanks a lot!

[2020-04-21 19:05] pseewald commented on #41
Now I get a segfault when I try to run the same input on 256 nodes.

[code]

I set the environment variable
[code]
to make the calculation fit on 256 nodes.

COSMA commit 92965d07baa7e9f27e47134c2452f8e33535603f

[2020-04-22 14:11] kabicm opened #43 "Segfaults when the CPU memory pushed to the limit"
Now I get a segfault when I try to run the same input on 256 nodes.

[code]

I set the environment variable
[code]
to make the calculation fit on 256 nodes.

COSMA commit 92965d07baa7e9f27e47134c2452f8e33535603f

_Originally posted by @pseewald in https://github.com/eth-cscs/COSMA/issues/41#issuecomment-617355787_

[2020-04-22 14:22] #43 closed

[2020-04-23 18:03] kabicm opened #46 "Attempting to use an MPI routine after finalizing MPICH"
Running the `pdgemm_miniapp` returns the following error at the end:
`Attempting to use an MPI routine after finalizing MPICH`.

[2020-04-23 18:14] kabicm commented on #46
Fixed in commit 83466e23c2fb3710c331cea92ec6ad285befa585.

It was caused by `Cblacs` calling `MPI_Finalize` within `Cblacs_exit`. To prevent this, we can do:
[code]

[2020-04-23 18:14] #46 closed

[2020-04-29 12:24] kabicm opened #47 "Undefined behaviour: using vector elements after reserve()"
The memory pool reserves the elements but doesn't default initialize them, which leads to the `undefined behaviour` according to the standard.

[2020-04-29 12:29] kabicm opened #48 "Segfault with tight memory usage"
When the memory usage is tight (no alignment, pool growing factor=1), the segfault occurs in the following case:
[code]
Only when beta!=0. This is caused by swapping `reduce_buffer` with `buffer_i`, when `reduce_buffer.size() < buffer_i.size()`.

[2020-04-29 12:33] kabicm opened #49 "Avoid initialization of elements in the memory pool"
Deacrease the overhead of the first run by avoiding the initialization of elements in the memory pool.

[2020-04-29 13:12] kabicm opened #50 "Fix possible int overflow in the Mapper"
The array `range_to_rank_` in `mapper.hpp` should have values containing `std::size_t` to avoid type mismatch.

[2020-04-29 15:44] kabicm commented on #47
This is actually not the case in the current code since the method `get_buffer_pointer` invokes `resize`, thus making it safe to access the elements afterwards.

[2020-04-29 15:44] #47 closed

[2020-04-29 15:49] kabicm commented on #49
This is possible, however, when `beta != 0`, it's important that all the temporary buffers are initialized to 0, to avoid accumulating wrong results. This complicates the logic of the memory pool and the gain is not too much, so we rather leave it as it is now.

[2020-04-29 15:49] #49 closed

[2020-04-29 15:51] kabicm commented on #40
This is tried out and the performance gain is not too much. However, this increases the memory consumption (since the buffers stay alive in the memory pool even when the MPI reshuffling has finished). For these reasons, we will not include this optimization.

[2020-04-29 15:51] #40 closed

[2020-04-29 16:59] #48 closed

[2020-04-29 16:59] #50 closed

[2020-04-29 17:04] kabicm commented on #23
This issue will be reopened later since it is already possible to run COSMA on multiple GPUs with 1:1 rank per GPU ratio.

[2020-04-29 17:04] #23 closed

[2020-05-06 11:26] kabicm opened #52 "Carefully setting device_id on GPU"
In the GPU backend: `Tiled-MM`, device id is always set to 0. Instead, we want it to be set only if not already set (by the user).

[2020-05-06 13:08] kabicm commented on #52
Fixed in commit: eb25c9856f109a8552d9897ec30925fd62a7f17c

[2020-05-06 13:08] #52 closed

[2020-05-27 04:21] ajaypanyala opened #55 "COSMA miniapp on Summit"
Hello! I am trying out COSMA on [Summit](https://www.olcf.ornl.gov/summit). Built COSMA using `-DCOSMA_BLAS=CUDA -DCOSMA_WITH_PROFILING=ON` using GCC 8.1, CUDA 10.1 and IBM Spectrum MPI 10.3

Testing the miniapp as follows using 3 nodes, 6 mpi ranks, 6 GPUs per node:

`cosma/build/miniapp/cosma_miniapp  -m 1000 -n 1000 -k 1000 -P 18`

The result I get is
[code]

Am not sure why the Number of proce

[2020-05-27 04:53] ajaypanyala commented on #55
Sorry. I did not realize that the processors and strategy are dynamically adjusted based on problem size. Closing this issue!

[2020-05-27 04:53] #55 closed

[2020-06-20 13:22] kabicm opened #56 "Generalize miniapps for any data type."

[2020-06-22 18:55] #56 closed

[2020-06-24 17:05] antoscha opened #59 "test.multiply failed when built with CUDA support"
[code]
CMake options: `-DCMAKE_INSTALL_PREFIX=/usr -DCOSMA_BLAS=CUDA -DCOSMA_SCALAPACK=CUSTOM -DBUILD_SHARED_LIBS=ON -DMPIEXEC_PREFLAGS='--oversubscribe'`

[2020-06-25 13:16] kabicm commented on #59
Thanks for the issue! Did you use one sided or two sided communication backend?

[2020-07-17 17:57] kabicm commented on #59
This issue seems to be stale and will therefore be closed. It might be reopened later if necessary.

[2020-07-17 17:57] #59 closed

[2020-08-31 11:13] pseewald opened #60 "libgrid2grid library installed in the wrong directory"
I try to build and install COSMA on piz daint:
`source scripts/piz_daint_gpu.sh`
then
[code]

All library files are copied to the location `<installation dir>/cosma/lib64` but `libgrid2grid.a` is copied to `<installation dir>/cosma/lib`.

[2020-09-01 12:54] kabicm commented on #60
Thanks Patrick for reporing this issue. @haampie has just fixed it! :)

[2020-09-01 12:58] #60 closed

[2020-09-03 13:15] kabicm opened #62 "Improve the performance of the GPU backend for small matrices"
As observed by @pseewald, when COSMA is compiled with the GPU-backend, the performance for small matrices has a large overhead.

The overhead comes from the price of `CPU<->GPU` transfers which doesn't pay off for small matrices. In this case, it is better to perform the local multiplications directly on CPU.

[2020-09-07 18:30] #62 closed

[2020-09-11 17:58] aldubois opened #64 "Compiling with intel/17.0.4, impi/17.3 and mkl/17.3"
Hi,

I run into a few minor errors while trying to compile with intel/17.0.4 and impi/17.3.
The first one is in grid2grid: kabicm/grid2grid/issues/10

The others are:
[code]

A+,
Alex

[2020-09-14 23:13] #64 closed

[2020-12-05 21:31] antoscha opened #66 "test.scalar_matmul never ends"
Hi,

test.scalar_matmul is probably broken: it is computed endlessly with any BLAS flavor (OPENBLAS, MKL, or CUDA). CMake options are:
[code]
Compilers and libraries: GCC 10.2.0, OpenMPI, CUDA 11.1.105, OpenBLAS 0.3.12, MKL 2020.4.304, ScaLAPACK 2.1.0

[2020-12-05 22:34] kabicm commented on #66
Hi @antoscha,

Thanks for reporting this. The test was outdated. It is fixed in commit 3a6b12cf42efc3369e7e9d9d04d9febe3b85b571.

Cheers!

[2020-12-05 22:36] kabicm commented on #66
Can you please confirm that it is also fixed for you?

[2020-12-05 22:49] kabicm opened #67 "Fix for the CI test.yml script"
The issue #66 revealed that `test.scalar_matmul` was not run in CI.

After looking at `ci/test.yml` it seems that `scalar_matmul` and `multiply_using_layout` tests both execute the `test.mapper` script. The other parameters seem fine.

Can you verify this, @haampie?

[2020-12-06 07:25] antoscha commented on #66
Yes, it works. Thank you!

[2020-12-06 07:25] #66 closed

[2020-12-07 14:20] #67 closed

[2021-01-04 15:37] filthynobleman opened #69 "CMake compilation is completely broken"
I tried to compile the source code using the given CMakeLists.txt, on a Intel+Linux environment and relying on Intel oneAPI for C/C++, Fortran and MPI compilers, and for the MKL library.
Using the provided CMakeLists.txt I got this error

[code]

Hence, I modified the file to include the required languages. If I do so, it successfully loads MPI_C and MPI_Fortran, but it is totally unable to load M

[2021-01-04 17:33] kabicm commented on #69
Hi Filippo, thanks for your feedback.

Before running cmake, can you try setting the compilers, e.g. with:
[code]

Then, CMake should be able to find the proper MPI as well.

[2021-01-04 19:41] filthynobleman commented on #69
Thank you for your quick answer.
Unfortunately, this does not work. I'm working with Intel compilers, so I exported
[code]
I also tried exporting the MPI Intel compilers (`export MPI_<lang>_COMPILER=...`) as well. Finally, I tried using GCC compiler with OpenMPI. With any combination, I get the following error
[code]

[2021-01-05 16:55] kabicm commented on #69
This is a good insight. Seems to be related to a recent change in CMake FindMPI module. Which version of CMake are you using?

I just did some changes in the CMakeLists.txt in a new repo `cmake`. Can you please try building COSMA from the new `cmake` branch?

[2021-01-05 19:18] filthynobleman commented on #69
Ok, thank you very much. This is gone one step further, but still there are some issues, and I am not able to compile. I now get the following error
[code]

Again, the error arises if I set either `FC` to `gfortran` or `ifort` (the GCC one and the Intel one), and it does not depend on the MPI distribution I load (this happens with both the Intel one and with OpenMPI).

I'm using CMake version 3.19

[2021-01-06 17:13] kabicm commented on #69
Thanks a lot for the feedback. I just pushed another commit to the `cmake` branch.

If this doesn't work, I would have to ask @rasolca or @teonnik to help out. If it doesn't get resolved by then, I will have a better look at it next week once I am back from holidays.

[2021-01-06 18:02] filthynobleman commented on #69
Good evening Marko, and thank you for your kind support.
Unfortunately, I have to say that this still does not work. It reverted back to the original error (hence, both the C and Fortran compilers are now disabled).
I don't know if this could help you, but I also tried a small modification to your `CMakeLists.txt`. Just below the first line, I added the following code
[code]
and this seemed to sol

[2021-01-07 10:33] rasolca commented on #69
I can reproduce this problem on my machine with CMake 3.19.1.
However CMake 3.19.2 work as expected, therefore I suspect a bug in the find MPI script shipped with 3.19.1.

[2021-01-07 13:07] filthynobleman commented on #69
Hi Raffaele, and thank you for the suggestion.
I tried to install CMake 3.19.2, and now it works, I can properly build COSMA! However, I still have some issues:

1) The building process works only with GCC compilers + OpenMPI. When using Intel compilers and Intel MPI it still generates the same error. This is not a problem for me, at the moment, but someone could have this issue too. Also, the lin

[2021-01-07 18:16] rasolca opened #70 "cosma_miniapp fails if -s option is not specified."
Even if the `-s` option is marked as optional in the doc, `cosma_miniapp` terminates with a `domain_error` exception if this option is not given a value.

Please add a default value or check if the value of the option is available before accessing it.

[2021-01-07 18:18] rasolca commented on #69
Hi Filippo,
you are right find MPI with gcc requires both C and Fortran to be enabled (for clang it doesn't and I don't have the intel compiler to test), but I still think these are problem are given by CMake find modules. We will investigate it.

Regarding the miniapp runs there is a bug with one of the option not having a default (I opened #70 for this).
Please add the option `-s ""` as a workar

[2021-01-08 10:09] teonnik opened #72 "Test case 29 of test.pdgemm often (not always) segfaults"
Built with clang, MKL + MPICH:

[code]

Dependencies were built with spack (MKL/MPICH):

[code]

The test case:

[code]

Error message:

[code]

[2021-01-08 10:19] teonnik opened #73 "Clang emits a lot of warnings"
Example:

[code]

Full report: https://pastebin.com/hPfZkcTk

[2021-01-08 13:44] teonnik opened #75 "Multiple test cases in test.pdgemm segfault with OpenMPI"
The test cases are: 10, 11, 13, 21, 22 and 24

Setup: gcc@10.2.0, openmpi@4.0.5 and intel-mkl@2020.4.304

Error message for test case 10:

[code]

[2021-01-08 14:19] teonnik commented on #69
@filthynobleman would you mind providing more details about your setup : OS, MPI version, gcc version and Intel-MKL version. Did you build COSMA's `master` or did you build a released version (e.g. 2.3)

[This PR](https://github.com/eth-cscs/COSMA/pull/71) should make it so that you need not have to move files. We will try to make a release next week including it. If you want to test it earlier, y

[2021-01-08 14:41] filthynobleman commented on #69
Hello Raffaele and Teodor.
As suggested, I set the -s option and now everything works.

About your question, I'm working on a Linux environment, and I have the following

- GCC v7.5.0
- OpenMPI v4.0.3
- Intel MKL v2021.1.1
- COSMA built from your `cmake` branch

I was using Intel compilers just because it was easier for me at the moment, but I was able to switch to GCC+OpenMPI without noticeable p

[2021-01-08 16:54] teonnik commented on #69
The thing is that both 3.19.1 and 3.19.2 work for me. I am not entirely sure that's where the problem is. Looking at the release notes for the two versions and the change history of the FindMPI module:

- https://cmake.org/cmake/help/latest/release/3.19.html#id1
- https://gitlab.kitware.com/cmake/cmake/-/commits/master/Modules/FindMPI.cmake

there is nothing that would imply that something broek w

[2021-01-11 10:28] kabicm commented on #70
Thanks @rasolca. This is fixed in commit 62740821cce1dbf70e4b840dbbde8187ab13f099.

[2021-01-11 10:28] #70 closed

[2021-01-11 17:06] #69 closed

[2021-01-12 18:48] kabicm opened #77 "Substitute grid2grid with COSTA"
The library [grid2grid](https://github.com/kabicm/grid2grid) is outdated and should be substituted with [COSTA](https://github.com/eth-cscs/COSTA). COSTA is a higly efficient communication-optimal algorithm for matrix redistribution with the option to transpose or scale (multiply by a scalar) the matrix on-the-fly. Concretely, it implements the routine:
```sub(B) = beta * sub(B) + alpha * sub(op(A

[2021-01-12 18:49] kabicm opened #78 "Substitute grid2grid with COSTA"
The library [grid2grid](https://github.com/kabicm/grid2grid) is outdated and should be substituted with [COSTA](https://github.com/eth-cscs/COSTA). COSTA is a higly efficient communication-optimal algorithm for matrix redistribution with the option to transpose or scale (multiply by a scalar) the matrix on-the-fly. Concretely, it implements the routine:
```sub(B) = beta * sub(B) + alpha * sub(op(A

[2021-01-12 18:50] #78 closed

[2021-01-12 18:52] kabicm commented on #73
The warnings coming from `grid2grid` should be ignored for the time being, because grid2grid will be substituted by COSTA (see Issue #77).

[2021-01-13 15:08] dev-zero opened #80 "feature request: add version numbers to release tarballs"
... and also have a version number in the directory name inside the tarball

[2021-01-13 15:15] dev-zero opened #81 "cmake --install . --prefix /my/custom/prefix fails with permission denied"
on Alps/Eiger:

[code]

[2021-01-14 01:56] kabicm commented on #80
You mean something like: `cosma-2.4.0.tar.gz`? We can definitely make this convention for the future releases.

[2021-01-14 01:59] kabicm commented on #81
Which cmake command did you use to build cosma?

[2021-01-14 02:02] kabicm commented on #81
@teonnik: the problem seems to be with COSMA tests, is there a need to add the MPI tests to the installation targets?

[2021-01-14 07:34] dev-zero commented on #81
`cmake -DCOSMA_BLAS=CRAY_LIBSCI -DCOSMA_SCALAPACK=CRAY_LIBSCI ../cosma`

... which was [recommended in an SO answer](https://stackoverflow.com/a/6003937/1400465) as a way to install a package, [overriding `CMAKE_INSTALL_PREFIX` at installation time](https://cmake.org/cmake/help/latest/manual/cmake.1.html?highlight=cmake#install-a-project).

[2021-01-14 07:51] dev-zero commented on #80
Yes, and the directory inside could then also be named `cosma-2.4.0` and not just `cosma`. Thanks!

[2021-01-20 07:43] kabicm commented on #80
This will be enforced in future releases. In fact, we are considering removing the submodules and hence the default github tarballs would include the version numbers. Anyway, should be resolved.

[2021-01-20 07:43] #80 closed

[2021-01-20 08:44] dev-zero commented on #80
btw, the submodule/release-tarball thing can be [fully automated with Github Actions](https://github.com/cp2k/dbcsr/blob/develop/.github/workflows/release.yml), [git archive-all](https://pypi.org/project/git-archive-all/) and a [custom cmake target](https://github.com/cp2k/dbcsr/blob/develop/cmake/CustomTargets.cmake).

[2021-01-28 10:27] #77 closed

[2021-01-28 11:36] #73 closed

[2021-01-28 11:45] kabicm commented on #72
@teonnik I couldn't reproduce this error with the latest master (after integrating COSTA into COSMA) on Piz Daint with MKL+MPICH.

I ran:
`for k in {1..20}; do srun -N 1 -n 16 tests/test.pdgemm --gtest_filter=Default/PdgemmTestWithParams.pdgemm/29; done`

and all of them passed.

Can you please check if this still occurs for you?

[2021-01-28 11:47] kabicm commented on #80
Thanks @dev-zero , we will also consider that option.

[2021-01-28 11:49] kabicm commented on #80
@dev-zero Would you maybe like to volunteer to add this? We can grant you developer rights :)

[2021-01-28 11:51] kabicm commented on #75
@teonnik can you also verify if this one occurs with the latest master?

[2021-01-28 13:43] teonnik commented on #75
I tried all tests again and the exact same set of tests still segfault for me : 10, 11, 13, 21, 22, 24 .

[2021-01-28 15:22] kabicm commented on #81
Thanks for reporting this. The issue is fixed in commit: 5fc99d8b9c406a0a5eb93a870b8825def4750afc

[2021-01-28 15:22] #81 closed

[2021-01-28 15:25] kabicm commented on #75
@teonnik Thanks for checking this! I cannot test it locally since MKL does not supports only mpich on apple. Does it also happen with mpich?

[2021-01-28 15:33] teonnik commented on #75
With MPICH + clang this test segfaults occasionally : https://github.com/eth-cscs/COSMA/issues/72 . The ones mentioned in this issue do not however.

[2021-01-28 15:37] kabicm commented on #75
Thanks Teodor! I will try to reproduce #72 with clang, because I only tried with gcc. I will get back to these later.

[2021-03-16 16:51] noma opened #83 "Subscript operator on empty vector"
Stumbled across this:

https://github.com/eth-cscs/COSMA/blob/d0ab1dd8e53ae2301ff361504d1a80b6a88d303e/src/cosma/cosma_pxgemm.cpp#L276

should probably use `push_back()`, as the vector is default initialised in 250.

[2021-03-16 16:53] kabicm commented on #83
Thanks @noma, you are totally right. This was a recent change that was not present in the previous release, so it's a good catch!

[2021-03-16 16:55] kabicm commented on #83
Although it's still unclear why this wasn't caught by our CI tests, as we also run address sanitizer tests on each commit. We will have to investigate it.

[2021-03-16 17:00] noma commented on #83
I'd guess your tests didn't trigger 174 due to lack of a suitable input.

[2021-03-16 17:03] kabicm commented on #83
True, I just verified it and now I see what the problem is. Thanks again for catching this!

[2021-04-02 15:50] kabicm commented on #83
This should be fixed in: 35e2ddaeda9310e1bf27837240c93a9468575272. Thanks again for reporting this!

[2021-04-02 15:50] #83 closed

[2021-04-12 19:19] yaoyi92 opened #84 "cannot find lgrid2grid"
Dear developers, I am trying to link against COSMA via the [USE COSMA in 30 seconds](https://github.com/eth-cscs/COSMA#using-cosma-in-30-seconds). However, it tells me grid2grid is not found. I saw you updated grid2grid to COSTA. Should the linking libs also update? If yes, what's the correct lib to be linked? I saw libcosta.a, libcosta_prefixed_scalapack.a, and libcosta_scalapack.a.

Thank you so

[2021-04-12 20:04] kabicm commented on #84
Dear Yi, thanks for spotting this! You are totally right, grid2grid was changed to COSTA and this will be corrected in the README soon, we are preparing a new release in both COSTA and COSMA.

In your case, you should like to `libcosta_scalapack.a`, because of this line: https://github.com/eth-cscs/COSMA/blob/35e2ddaeda9310e1bf27837240c93a9468575272/src/cosma/CMakeLists.txt#L54

Let me know if it

[2021-04-12 20:08] kabicm commented on #84
In general, if you use pure `cosma` library (without pxgemm wrappers) then you link to `costa`. If you use `cosma_pxgemm` then you link to `costa_scalapack`. Pay attention that `costa_scalapack` overwrites scalapack's `pxtran` (transpose) and `pxgemr2d` (layout transformation) functions. So, by using `cosma_pxgemm` you are implicitly also using our implementations of `pxtran` and `pxgemr2d`. We do

[2021-04-13 01:08] yaoyi92 commented on #84
So, I end up using these commands to compile the test file. It seems the `-qopenmp` and `-lstdc++` are necessary here. Is this the correct way of doing the linking?

[code]
The test file is

Scalapack.f90
[code]

[2021-04-13 01:15] yaoyi92 commented on #84
Dear Marko,

However, if I tried this test file

Scalapack.f90
[code]
It gave me
[code]
Am I missing anything?

[2021-04-13 01:41] kabicm commented on #84
Dear Yi, thanks for checking. This was caused by COSMA using an outdated version of COSTA. I have just updated the COSTA submodule in COSMA. Can you git clone recursively again the whole COSMA repo and try again? The latter should now be fixed.

[2021-04-13 01:46] kabicm commented on #84
Sorry, I would need some more time, I have to adapt few more things in COSMA to the latest COSTA version before it can work.

[2021-04-13 02:14] yaoyi92 commented on #84
I see. No worry. Thank you for letting me know.

[2021-04-14 01:58] kabicm commented on #84
The latest commit should fix the issues with the latest version of COSTA. Since the COSTA library was also modified, it would be best to get a fresh new git clone of COSMA.

To answer your question regarding the OpenMP: you are right, we require it. However, most user codes already have OpenMP as a dependency (especially if they use a multithreaded versions of scalapack/lapack/blas).

Let me know

[2021-04-16 18:55] kabicm commented on #84
Hi Yi (@yaoyi92), i just wanted to follow up on my previous comment: does it work for you now?

[2021-04-17 03:10] yaoyi92 commented on #84
Yes, it works! Thank you so much!

[2021-04-22 08:49] kabicm commented on #84
Great, thanks for the feedback, I am glad it works now! The README will be improved soon, so I will now close this issue.

[2021-04-22 08:49] #84 closed

[2021-05-15 14:14] MQSchleich opened #86 "CUDAToolkit not specified in CMakeLists.txt"
You do not specify the path to the CUDA libraries. Therefore, one can't install COSMA with CUDA support.
When running

[code]

Gives

[code]

[2021-05-15 20:48] kabicm commented on #86
Hi @MQSchleich, did you actually set the variable `CUDA_PATH` to point to your cuda installation?

Can you tell me what you get when you do:
[code]

[2021-05-17 15:05] kabicm commented on #86
Just a small clarification: it's the user's responsibility to ensure that the environment variable `CUDA_PATH` is containing the right CUDA installation path. It's usually set up automatically when you install the CUDA drivers. In HPC environments, it's usually automatically set when you load the CUDA modules.

Let me know if you need any help with that.

[2021-05-20 16:03] yaoyi92 opened #87 "COSMA cublas crash after job finished"
Dear COSMA developers,

I have been working on a GPU hackathon and testing COSMA (commit e034ddd987305cef0398fcf9a4a95c0d33bab3df) using the Scalapack API with FHIaims code on the Ascent cluster (The training cluster for Summit). With COSMA GPU version, I was able to get a 7x speedup for pzgemm (matrix size 3312 * 3312) (36 Power CPU cores + 6 V100 GPU v. 36 Power CPU cores) (36 MPI with OMP_THREA

[2021-05-25 14:26] kabicm commented on #86
I will close this issue, since I didn't hear back from you in a while. Feel free to reopen it if you still have the issue.

[2021-05-25 17:14] MQSchleich commented on #86
Yes, I am sorry to let you wait. I was quite busy with the project. Yes, indeed there is no $CUDA_PATH set globally. I am working on COLAB, so how do I properly set the CUDA_PATH to work for COSMA installations?

[2021-05-26 10:00] kabicm commented on #86
Hi Manuel,

No problem! In COLAB, did you set the hardware acceleration to GPU (https://stackoverflow.com/questions/50560395/how-to-install-cuda-in-google-colab-gpus)?

[2021-05-26 10:02] kabicm commented on #87
Dear Yi,

Thanks a lot for reporting this issue and for your feedback. We have found what was causing this problem and will fix it soon.

Cheers,
Marko

[2021-05-26 17:07] MQSchleich commented on #86
Hey Kabi,

Yes, indeed, CUDA is installed and set. Other libraries e.g. GROMACS or PyTorch link automatically to CUDA.

[2021-05-26 18:54] kabicm commented on #86
Hi Manuel, I hope we have fixed this now in the master branch. Can you test if it works for you now?

Make sure to do recursive git clone again, because we also updated the `Tiled-MM` submodule (which is the GPU backend of COSMA).

It would be great if you could test it today, because this version of COSMA might go into the latest CP2K version that should be released tomorrow, so it's good to fix

[2021-05-27 07:27] MQSchleich commented on #86
I tested it. However, running

[code]

results in

[code]

[2021-05-28 14:19] #87 closed

[2021-05-28 14:22] kabicm commented on #86
Can you try again the current master version? As @pkestene noticed, we had a typo in the cmake script https://github.com/eth-cscs/COSMA/pull/88 which might have caused it.

Let me know if it works this time.

[2021-05-28 16:11] ltalirz opened #89 "cosma conda package on conda-forge?"
For a related discussion see https://github.com/electronic-structure/SIRIUS/issues/621

Over the past few weeks we've been adding conda packages for spla, spfft and sirius and I'm now in the process of integrating them into the cp2k one.

COSMA may be somewhat of a fringe case for conda since conda binaries are unlikely to be run on really large-scale machines (for maximum performance you would co

[2021-05-28 16:31] kabicm commented on #89
Hi Leopold, I think this is a great idea, would be certainly nice to have it.

Although I don't have much experience with writing conda packages. Would you maybe like do it for COSMA? I can add you as a collaborator to the repo in that case.

Let me know how we should proceed.

[2021-05-28 16:36] kabicm commented on #89
Would we have to make a conda package for each COSMA dependency, which are basically the following:
- [COSTA](https://github.com/eth-cscs/COSTA): the algorithm for transposing and transforming distributed matrices between different distributed layouts (e.g. from the block-cyclic layout to an arbitrary grid-like layout). It is highly optimized and is used to provide SCALAPACK wrappers to COSMA.
- [

[2021-05-29 12:46] ltalirz commented on #89
Thanks for the quick reply @kabicm ! Indeed, we should probably start from the dependencies.
I'll start by creating a PR for a conda package for COSTA and ping you there.

[2021-05-31 12:38] MQSchleich commented on #86
Sure. I ran it this time I get
[code]

[2021-05-31 13:31] kabicm commented on #86
Thanks for checking! Which version of CMake are you using?

[2021-05-31 14:27] MQSchleich commented on #86
You are welcome. The version of Cmake after checking ```cmake --version``` is:
[code]
The complete output of the ```make``` command is:
[code]

[2021-05-31 15:27] kabicm commented on #86
Allright, this seems to be a bug in cmake versions < 3.12.2. So, the easiest option would be if you can upgrade your cmake.

Otherwise, I have added a [workaround](https://github.com/kabicm/Tiled-MM/blob/88b44a82447489f02c1ce744319d924ecd512852/CMakeLists.txt#L33) for this cmake bug that should fix it. Since the Tiled-MM submodule of COSMA is also updated, it would be best if you can do a fresh ne

[2021-06-03 13:46] MQSchleich commented on #86
It installs like a charm! Thank you for resolving the issue.

[2021-06-04 08:32] github-actions[bot] opened #90 "cmake project version v2.5.0 does not match git tag v2.5.1"
The cmake version should be in sync with the git version to ensure the correct file names and sonames of shared libraries.

[2021-06-04 08:33] kabicm commented on #86
Great, thanks Manuel for your help! We've just released [COSMA-v2.5.1](https://github.com/eth-cscs/COSMA/releases/tag/v2.5.1) with this fix.

[2021-06-04 08:33] #86 closed

[2021-06-04 08:39] kabicm commented on #90
Fixed!

[2021-06-04 08:39] #90 closed

[2021-06-13 09:39] oschuett opened #92 "Add support for hipBLAS"
It would be nice to have support for [hipBLAS](https://github.com/ROCmSoftwarePlatform/hipBLAS) as this allows to test the hip code path on a Nvidia device.

In return the support for rocBLAS could be dropped.

[2021-06-14 20:30] kabicm commented on #92
Since @gsitaraman mentioned [here](https://github.com/cp2k/cp2k/pull/1557#issuecomment-860751137) the potential performance benefit of using rocBLAS, I would still hesitate to switch to hipBLAS, unless you believe it's absolutely necessary.

[2021-06-14 21:06] oschuett commented on #92
I agree that you should keep rocBLAS as long as there are performance benefits to it. However, maybe you could still add support for hipBLAS alongside? It would allow me to make progress with the HIP integration testing in CP2K.

[2021-06-15 10:05] BaldStrong commented on #75
It is recommended to use gcc, intel-mpi and intel-mkl.
I also have the same error in OpenMPI. Change to Intel-MPI is good

[2021-06-15 12:12] kabicm commented on #75
@BaldStrong does this occur for you also with the latest COSMA v2.5.1?

[2021-06-15 12:35] kabicm commented on #89
Hi @ltalirz , sorry for keeping you wait -- I cannot find the PR for a conda package, can you please send me this again?

[2021-06-15 13:18] kabicm commented on #92
This should be possible. @AdhocMan, do you think this would be a simple change, or would it require a large refactoring of the [gpu-backend](https://github.com/kabicm/Tiled-MM)?

[2021-06-15 13:28] AdhocMan commented on #92
hipBLAS is just an additional layer on top of rocBLAS and you can compile rocBLAS with cuda. So it should work already, although I haven't tested it.

[2021-06-15 13:36] kabicm commented on #92
Would we still have to add hipBLAS as a dependency of COSMA in that case?

[2021-06-15 13:41] AdhocMan commented on #92
No, if rocBLAS works correctly with cuda. There would just be few changes to the CMake config required.

[2021-06-15 23:26] kabicm commented on #92
As written [here](https://sep5.readthedocs.io/en/latest/ROCm_Tools/rocblaswiki.html) it seems the cmake for the CUDA backend of rocBLAS is broken at the moment:

[2021-06-16 02:46] BaldStrong commented on #75
Yes.

[2021-06-16 08:47] oschuett commented on #92
I also spend an hour yesterday trying to build rocBLAS for Cuda - without success so far. And even if we get it to work eventually, it will probably be rather brittle because it pulls in many additional dependencies. In comparison hipBLAS is very lightweight.

[2021-06-16 17:24] rohany opened #93 "trouble compiling with OpenBLAS"
Hi! I'm trying to test out COSMA with OpenBLAS and running into problems. Importantly, I'm not using the CMake install of OpenBLAS, as using it gives me issues in a separate project; I'm using the standard `make` based install of OpenBLAS. I used the following steps to compile COSMA:

[code]

I get out the errors:
[code]

I've been playing around with the final link command here but to no avail. A

[2021-06-16 19:53] kabicm commented on #93
Hi Rohan,

Can you send the full cmake+make output? Also, can you tell me what the value of the environment variable `OPENBLAS_ROOT` (or `OPENBLAS_DIR`) is?

[2021-06-16 19:56] rohany commented on #93
I can gather the output, but it all looks normal (the cosma, costa and cosma_miniapp builds succeed), and it fails on the final link of everything together. I do not have either of those variables set. Are those important?

[2021-06-16 20:09] kabicm commented on #93
Can you try removing `-DOPENBLAS_LIBRARIES=<path to my openblas.so>` from the cmake command and define one of those environment variables (OPENBLAS_ROOT or OPENBLAS_DIR), like:
[code]
Also, it's best to remove the whole content of the build folder, so that we don't have any leftovers.

[2021-06-16 20:58] rohany commented on #93
I still see the same error, but it looks like the cmake build found openblas now:
[code]

[2021-06-16 21:13] kabicm commented on #93
Can you tell me what's inside of your folder: `/g/g15/yadav2/taco/legion/OpenBLAS/install/`?

[2021-06-16 21:15] rohany commented on #93
[code]

[2021-06-16 21:26] kabicm commented on #93
Great, now we can also check if the dgemm symbols are present. Can you try:
```nm -gU /g/g15/yadav2/taco/legion/OpenBLAS/install/lib/libopenblas.so | grep gemm```

[2021-06-16 21:28] rohany commented on #93
That command didn't work for me -- `nm: invalid option -- 'U'
Usage: nm [option(s)] [file(s)]`

I ran instead:
[code]

This blas installation is working though, I am linking against it and using it in 2 other projects.

[2021-06-17 00:28] kabicm commented on #93
It took me some time to see what's going on. Are you maybe using the COSMA-v2.5.0? That version had a cmake typo which prevented it to link properly to the blas library. If that's the case, can you try with COSMA-v2.5.1?

[2021-06-17 00:30] rohany commented on #93
What is the commit that I should be at? I just pulled from master today, and am at 78efd8ae1572e14368e3696fce65ab65ddb3203b. Sorry for not providing this earlier.

[2021-06-17 00:36] kabicm commented on #93
That should be fine then, the typo I mentioned was fixed in commit edab12ca60b1a01c03328a18a819159eda058b8d (20 days ago). Does the same problem occur when you try to build COSMA as a shared library (i.e. by specifing `-DBUILD_SHARED_LIBS=ON` when doing cmake)?

[2021-06-17 00:45] rohany commented on #93
The same error, but looks slightly different now:
[code]

[2021-06-17 00:57] kabicm commented on #93
I will have to ask @haampie to help us here! It seems cmake finds it, but fails in the linking phase of the compilation. I also see that your openblas installation has pkgconfig, so maybe we should use it instead. Anyway, we will update you on this tomorrow, hope it's not too late :)

[2021-06-17 00:58] rohany commented on #93
No rush at all. I really appreciate the quick feedback!

[2021-06-17 08:51] rasolca commented on #93
I would check if the link line is set up correctly.
@rohany Can you try `make cosma_miniapp VERBOSE=1`?

[2021-06-17 08:53] AdhocMan commented on #92
That's unfortunate, it would have made things easier. I think, adding hipBLAS alongside rocBLAS does not make much sense, since adding a code path, that's only used for testing somewhat defeats it's purpose. So I'd suggest two options:

1. Replace rocBLAS with hipBLAS. Looking at the hipBLAS code, I suspect it would not really impact performance.
2. Keep rocBLAS and work on adding CI on AMD hardwa

[2021-06-17 14:47] LStuber commented on #75
I think this is a weird bug in MKL only triggering when position independent executable (a security feature) is enabled in GCC.

Could you check if adding the `-no-pie` flag to the link line fixes the issue?

The `-pie` flag became the default recently in GCC releases shipped through apt-get, which may explain why some people are affected, and some are not. This is especially an issue in container

[2021-06-17 16:34] rohany commented on #93
[code]

It does look like it's missing a blas link in the call there.

[2021-06-17 16:37] rohany commented on #93
In a debug build, I see this assertion failure with this backtrace (I don't get to the error above).
[code]

Backtrace:
[code]

[2021-06-17 17:21] rasolca commented on #93
I'm not sure what the last error refers to but I don't think is COSMA as it doesn't use Legion...

Regarding the missing BLAS linking, did you wipe out the cmake cache between the different attemps?

[2021-06-17 17:23] rohany commented on #93
Yeah sorry, I pasted that error mistakenly here.

Yeah, I've deleted the build directory before each of the suggestions here.

[2021-06-17 17:55] rasolca commented on #93
I think I might have found something:
COSMA is linking privately to blas, however if COSMA is built as a static library, BLAS has to be linked from the miniapp as well.
@rohany Can you please try again after removing the PRIVATE keyword from the following line?
https://github.com/eth-cscs/COSMA/blob/master/src/cosma/CMakeLists.txt#L32

[2021-06-17 18:01] rohany commented on #93
It looks like that did something add the link command, but for some reason the linker still isn't happy:
[code]

[2021-06-17 18:13] rasolca commented on #93
Wait... it looks like it is looking to C++ symbols of cblas_*gemm. (C symbols don't have signatures and types.)
It looks like `extern "C"` is missing in the included cblas.h

I'm wondering if the correct cblas.h (i.e. the one provided by openblas) is included or the compiler is finding something else.

[2021-06-17 18:14] rohany commented on #93
You could try to reproduce my setup by cloning openblas, and building it with
[code]

I'm not a heavy user of these kind of libraries, so I don't know many of the details about them.

[2021-06-17 18:27] kabicm commented on #93
@rasolca thanks Raffaele for jumping in here! Regarding blas being a PRIVATE dependency of COSMA -- we include blas headers only in the source files (i.e. in blas.cpp), not in blas.hpp, so I thought it should be fine for blas to stay private? But you are probably right, the `extern "C"` might be missing. Do you think that's the only problem?

[2021-06-17 20:35] kabicm commented on #93
@rohany As @rasolca pointed out, can you also try turning this line:
https://github.com/eth-cscs/COSMA/blob/78efd8ae1572e14368e3696fce65ab65ddb3203b/src/cosma/blas.cpp#L12

into:
[code]

Basically, just adding additional extern "C" around this header include. Then we will see if that's the only problem.

[2021-06-17 20:46] rohany commented on #93
Nice, that works! However, now I'm getting a segfault when trying to run the miniapp. I'll start the discussion here, but maybe we can move to a new issue if you guys want.

It looks like something is going wrong when trying to access an environment variable:

[code]

[2021-06-17 22:10] rohany commented on #23
Based on this issue, does COSMA not yet support multiple GPUs?

[2021-06-18 00:27] kabicm commented on #93
Great that at least it runs now. Can you try with the latest commit now? Make sure to git clone recursively COSMA with all submodules, because some fo the submodules were also updated.

[2021-06-18 00:39] kabicm commented on #23
COSMA supports multiple GPUs, but at the moment, you should run it with 1:1 ranks to gpus ratio. For example, if your node has 6 GPUs, you should then also run 6 ranks per node, so that each rank is mapped to a single GPU, which is what people usually anyway do.

Would this be sufficient for your use case? You can submit a feature request through a new issue If you have a concrete use-case, where

[2021-06-18 00:41] rohany commented on #23
I think that this should work for me. In a setup like this, can COSMA take advantage of the NVLink between the GPUs if it is present?

[2021-06-18 09:17] rasolca commented on #93
@kabicm `extern "C"` is present in the openblas cblas.h.
https://github.com/xianyi/OpenBLAS/blob/develop/cblas.h#L7-L10
My fear is that another cblas.h is available on the system and the compiler include it instead of the header provided by openblas, or (even worse) the C++ compiler doesn't define `__cplusplus`
In both cases it is not a COSMA problem, and adding an extra `extern "C"` might be prob

[2021-06-18 11:24] kabicm commented on #93
@rohany I just had a discussion with @rasolca. It seems that all recent openblas libraries should have the `extern "C"` flag in their header files and only older versions of openblas might be missing it. What this might indicate is that, in addition to your openblas installation, there is also some old version installed in the system. However if the compiler finds multiple versions of openblas in

[2021-06-18 16:02] rohany commented on #93
I have yet to try the latest commit, but I thought we are beyond the blas linking issue here now, after the extern c was added.

[2021-06-18 16:25] rohany commented on #93
Also, I doubt that this was the case, since I would get an error that no blas could be found until I set `OPENBLAS_ROOT`. The openblas header that I am using does have `extern "C"`.

[2021-06-18 16:29] kabicm commented on #93
Yup, but if your openblas has `extern "C"` and yet we had to add `extern "C"` in COSMA to make it work, it seems it's not in fact using your openblas, but some other.

[2021-06-18 16:30] rohany commented on #93
OK, that makes sense. I'm up for a zoom meeting to look at it, but it will have to be in a few days (the cluster I'm testing on just seemed to lose power,  and I'm not sure when it will be back up).

[2021-06-18 17:02] kabicm commented on #93
I have just found few typos in our `FindOPENBLAS.cmake` that might have been causing the issues with wrong openblas being linked. Generally, mixing up different openblas versions, especially if they are compiled using different compilers can cause a lot of troubles (e.g. seriously degrade the performance), so it's better to ensure we did this right. The latest master should resolve both problems y

[2021-06-21 15:05] gsitaram commented on #92
In both hipBLAS and rocBLAS, there is a heavy overhead in the first DGEMM call. If rocBLAS is used, one could call rocblas_initialize() before any DGEMM call to avoid this overhead in the timing region. We can try to do this in COSMA and shift to a hipBLAS implementation for improving portability. I will work with Marko later this week to get this done.

[2021-06-21 16:14] AdhocMan commented on #92
I already have a version of Tiled-MM with hipblas instead of rocblas: https://github.com/AdhocMan/Tiled-MM/tree/hipblas
It compiles fine, I just can't run it at the moment because of an issue with our test system.

[2021-06-21 17:34] rohany commented on #93
I pulled and everything seems to be working for me. Thanks!

[2021-06-21 17:34] #93 closed

[2021-06-21 18:09] rohany opened #94 "unexpected performance when using COSMA with GPU (single node)"
I'm testing out COSMA with GPU support on a single node with GPU's, and I'm not seeing performance that I might expect.

1 GPU:
COSMA TIMES [ms] = 1562 1657 2133 2390 6865
2 GPU:
COSMA TIMES [ms] = 1544 2710 3374 3626 6060
4 GPU:
COSMA TIMES [ms] = 805 832 1456 3142 6419

I expect to:
* See some difference in runtime from 1 -> 2 GPUs
* Somewhat stable performance? The difference between the min an

[2021-06-21 18:53] kabicm commented on #94
Great that it works now!

Can you check also without overlapping communication and computation? And can you also try some larger matrix sizes, e.g. 32k or so?

I will check this testcase on our system and then we will see.

[2021-06-21 19:10] rohany commented on #94
I see slightly better performance without overlap:
1 GPU:
COSMA TIMES [ms] = 1996 2453 3166 4126 4613
2 GPU:
COSMA TIMES [ms] = 1934 2348 2505 3602 5486
4 GPU:
COSMA TIMES [ms] = 1041 1370 1530 1584 1905

At matrix size 30000 without overlap i see:
1 GPU:
COSMA TIMES [ms] = 8987 9811 9840 13445 13833
2 GPU:
COSMA TIMES [ms] = 7181 7182 7227 7839 9772
4 GPU:
COSMA TIMES [ms] = 4282 4327 6609 8345 2

[2021-06-23 04:52] rohany opened #95 "unexpected performance when using COSMA with CPU"
I'm seeing the following weak scaling performance when using COSMA configured with OpenBLAS:

| Num Nodes | Avg Exec Time (ms) |
| ------- | --------------- |
| 1 | 2867 |
| 2 | 3026 |
| 4 | 3208 |
| 8 | 3090 |
| 16 | 5659 |
| 32 | 5730 |
| 64 | 5741 |
| 128 | 5893 |
| 256 | 5889 |

On each node, I'm using 20 threads for OpenMP. The initial problem size / command line is `env OMP_NUM_THREADS=20 CO

[2021-06-29 10:05] antoscha opened #96 "COSTA installed separately"
Hi,

Could you please add an option to build COSMA using COSTA as an external library?

Anton K.

[2021-07-02 17:14] #95 closed

[2021-08-03 13:40] airmler opened #97 "out-of-memory events"
Hi,
I have OOM events when working with quite large matrix dimensions.

I am working with commit a7c6bb3baf62096a086
on Intel XEON Platinum 8360Y with 72 cores per node and 256 GB RAM)
using the following libraries: intel-mpi, intel-mkl, and intel-mpi (not too old versions).

When working on 2 of my 72 core machines and executing the following command:
```srun /u/airmler/src/COSMA/miniapp/cosma_mi

[2021-09-28 16:28] kabicm commented on #97
Hi @airmler!

I discussed a similar OOM problem yesterday with @rohany.

Let me first ask a short question: how many ranks per node are you running? If you have 3.7GB available per rank, does it mean that you have around 256/3.7=70 ranks per node?

The required memory estimate in COSMA shows how much memory will have to be present throughout the whole execution of the algorithm. However, during th

[2021-09-28 16:30] rohany commented on #94
I'm going to close this since things are working as expected for me now.

[2021-09-28 16:30] #94 closed

[2021-09-28 16:35] kabicm commented on #94
Hi Rohan,

What was the main problem? Was this also related to limited memory that we yesterday discussed?

Also, did you check adding just `-s "sm2"` or just `-s "sm2,sn2"` instead of splitting all three dimensions beforehand?

Thanks for your feedback!

[2021-09-28 16:41] rohany commented on #94
The main problem at this time iirc was that I was strong scaling instead of weak scaling, as well as on relatively small problem sizes.

[2021-10-04 12:34] kabicm commented on #97
Hi @airmler, I will close this issue now, but feel free to reopen it anytime in case you still have some questions!

[2021-10-04 12:34] #97 closed

[2021-10-04 12:43] airmler commented on #97
Thanks for your explanation.
I was using 72 cores per node, ie 3.55GB per core.
Still little bit puzzling for me: if this is really a OOM event, your estimate would be more than 2x (or 2GB) away from truth. Hard to believe that this is due to temporary mpi buffer.
Thanks for your time.

[2021-10-04 14:43] kabicm commented on #97
Indeed, but there is one more thing I forgot to mention: COSMA allocates one large memory pool (which is really just an `std::vector` under the hood) and all the buffers are taken from this pool. The estimate is actually the total size of this memory pool. However, this also means that COSMA requires all this memory to be allocated as a single, consecutive piece of memory. So, even if there is eno

[2021-10-04 14:48] kabicm opened #99 "Switching to a proper memory-pool implementation"
The current implementation allocates one large piece of memory from which all the buffers are taken. This has its advantages, but adds the requirement that all the required memory must be available as one, consecutive piece, which might not be possible in case of fragmentation (see [here](https://github.com/eth-cscs/COSMA/issues/97#issuecomment-933556576)).

We want to switch to using a proper mem

[2021-10-04 14:49] kabicm commented on #97
Let's discuss this further in a separate issue: https://github.com/eth-cscs/COSMA/issues/99 .

[2021-10-04 14:59] kabicm commented on #89
Hi @ltalirz, do you maybe know what's the problem with: https://github.com/conda-forge/staged-recipes/pull/15073 ?

[2021-11-10 18:29] yaoyi92 commented on #87
Hi @kabicm ,
I am able to redo the test again and the problem still exists with v2.5.0 and the master branch. Does COSMA use a wrapper over MPI_Finalize()? I notice a similar issue on Summit here with another code that is wrapping over MPI_Finalize https://github.com/LLNL/Caliper/issues/392.

If that's the case, my question becomes: Is it possible to manually finalize COSMA?

A related question he

[2021-11-10 18:33] yaoyi92 opened #100 "COSMA cublas crash after job finished"
I realized I cannot reopen the issue #87

copy the question here. Sorry for the confusion.

=====

Hi @kabicm ,
I am able to redo the test again and the problem still exists with v2.5.0 and the master branch. Does COSMA use a wrapper over MPI_Finalize()? I notice a similar issue on Summit here with another code that is wrapping over MPI_Finalize LLNL/Caliper#392.

If that's the case, my question b

[2022-06-29 17:04] kabicm commented on #75
It seems that what @LStuber mentioned in https://github.com/eth-cscs/COSMA/issues/75#issuecomment-863303892 resolves the issue!

Thanks a lot!

[2022-06-29 17:04] #75 closed

[2022-06-29 17:05] #72 closed

[2022-06-29 17:08] kabicm commented on #99
This is a reasonable improvements, but doesn't seem to affect the production runs, so we will close it now. We might reopenn it at some later point.

[2022-06-29 17:08] #99 closed

[2022-06-29 19:47] kabicm opened #105 "Fixing CI/CD issues"
Hey @haampie!

It seems CI/CD complains about a missing OpenMP flag, although COSMA doesn't use OpenMP, but one of it's dependencies (COSTA) has OpenMP as a dependency.

This part hasn't been changed since the last time it worked, so I don't understand what's the issue. Locally and on daint it works for me without problems. Can you please have a look?

[2022-07-01 09:24] airmler opened #106 "timings in comsa_miniapp"
I am running the cosma miniapp on a 72 core xeon machine with the following parameters
 ```$parallel_cosma -m 8688 -n 8688 -k 8688 -r 3```
The last line of the stdout reads:
```COSMA TIMES [ms] = 458 460 771 ```

I am curious about the large spread between fastest and slowest multiplication. The fast number would mean ```40 GFLOPS/core/s``` which is a good number for this machine. The slowest numb

[2022-07-01 10:01] rasolca commented on #106
No, the overhead is very likely due to library initializations during the first run in the miniapp.
Multithreaded MKL is usually the the library that introduces more overhead as it has to initialize the OpenMP environment and allocate some memory during the first library calls. MPI on certain systems introduces as well some overhead during the first communications.

[2022-07-01 10:06] #106 closed

[2022-07-05 14:56] kabicm opened #108 "GPU-Aware MPI Version"
_Originally posted by @alazzaro in https://github.com/eth-cscs/COSMA/issues/102#issuecomment-1175155215_
@kabicm I did a test with the new COSMA and I can confirm that I get some quite nice speed-up with the G2G MPI option enabled for the CP2K RPA benchmark. Note that I'm using (my default setting to run the benchmark):

[code]

Now, I tried to relax some of the variables.
If I remove the last var

[2022-07-05 16:19] kabicm commented on #108
@alazzaro Can you try with the latest master commit? Also the submodules are updated.

[2022-07-06 08:23] alazzaro commented on #108
Yeap, this problem is fixed now. Thanks!

[2022-07-06 09:57] alazzaro opened #109 "Error crash at the end of the job execution"
With the current master (6e8aff1d630d3eef241391e57ba9f80bed9c993b) I see an error at the end of the CP2K execution, probably when memory is released in COSMA.

I'm compiling with the options:
[code]

and the relevant stacktrace is:

[code]

I tried to compile COSMA without MPI G2G (`-DCOSMA_WITH_GPU_AWARE_MPI=OFF`) and it does not give any error, so it is something related to this optimization.

[2022-07-06 10:03] #108 closed

[2022-07-06 16:04] kabicm commented on #109
I am still struggling to reproduce this.

Can you please check if the following resolves the issue? (I want to see if it's related to synchronization)
[code]

When using gpu-aware MPI, is it necessary to call `device_synchronize` after MPI collective to ensure it has finished the execution and that the buffers can safely be used?

[2022-07-06 19:23] alazzaro commented on #109
Tried it and it doesn't solve the problem. I must say, this is expected (see my comment below).

No, it is implied in the blocking MPI call.

[2022-07-07 20:33] gsitaram opened #111 "Unable to use an internal RCCL build"
Setting the following. env. variables does not result in the provided RCCL lib and include file to be used in the COSMA build:
[code]
where the install directory has the following:
[code]

[2022-07-07 20:36] kabicm commented on #111
Thanks Gina!

@teonnik since you are a cmake expert, do you know how this can be fixed? I tried, but am certainly not a cmake ninja :D

[2022-07-07 23:00] kabicm commented on #111
I now fixed the environment variables properly being passed to cmake in the latest commit in branch v2.6.0, with:
https://github.com/eth-cscs/COSMA/blob/d6ca0adac9ca4927487a72d6b08cf0432a839551/cmake/FindRCCL.cmake#L18

and similar.

As @gsitaram said, it seems now it finds the include header files, but doesn't find the library. E.g. it finds the default librccl.so, but not the one that is specifi

[2022-07-08 14:37] yaoyi92 opened #112 "COSMA crash on Perlmutter when dealing with complex values"
Dear COSMA developers,

I am able to install COSMA on the Perlmutter computer and it works fine with float/double numbers. However, when I try to use the complex numbers(zfloat/zdoulbe), the code crashed during some MPI processes and it seems the MPI cannot recognize complex values.

I am able to reproduce the crash with the cosma_miniapp. The results/running scripts/compilation commands are liste

[2022-07-08 15:40] kabicm commented on #112
Great to hear that! Although I am still confused why this is a problem. @rasolca do you know why MPI_C works and MPI_CXX doesn't?

@yaoyi92 keep in mind that you can also use COSMA with gpu-aware MPI or with NCCL backends, as described in the README, that should be much more performant! This should be the biggest change in this version.

[2022-07-08 15:52] yaoyi92 commented on #112
Thanks! I will check them out.

[2022-07-08 16:02] kabicm commented on #112
@yaoyi92 if it's not a problem for you, can you also try leaving the MPI_CXX prefixes there, but modifying the cmake:
https://github.com/eth-cscs/COSMA/blob/783803e9a48944a16c9b95db0b027955b2594755/CMakeLists.txt#L124
to `find_package(MPI COMPONENTS C CXX REQUIRED)`.

Maybe this was the problem?

[2022-07-08 16:11] rasolca commented on #112
It is not a cmake problem. It is a problem with newer versions of Cray mpich.
MPI_CXX_FLOAT_COMPLEX, MPI_CXX_DOUBLE_COMPLEX and MPI_CXX_BOOL are not set (the MPI standard requires them even if the C++ bindings are not provided).
We opened a ticket about it but still no solution from HPE side.

[2022-07-08 16:14] kabicm commented on #112
@rasolca do you propose then to put MPI_C_ in the code as a temporary solution?

[2022-07-08 16:25] rasolca commented on #112
In general not, but it is needed for Cray-EX systems.

[2022-07-08 16:32] kabicm commented on #112
Alright! As a temporary solution we modified this until cray-mpich fixes it.

[2022-07-08 16:32] #112 closed

[2022-07-08 17:45] kabicm commented on #105
Hey Harmen (@haampie), sorry for spamming, but we would like to make a new release soon. Would it be possible to fix the ci/cd by then?

[2022-07-17 07:26] fstein93 opened #115 "Crashes with the latest COSMA release"
Dear COSMA developers,

I am one of the CP2K developers and have recently upgraded our scripts to use COSMA 2.6.0 (see discussion  cp2k/cp2k#2198 ). After the upgrade, all of our GPU regtests fail (see https://dashboard.cp2k.org/, testers CRAY-XC50-gnu, Performance CUDA Volta, CUDA Pascal). Our HIP tester does not make use of COSMAs GPU backend yet.

The typical backtrace looks as followed

error:

[2022-07-17 08:39] kabicm commented on #115
Hi Frederick,

Unfortunately, it seems I can't access the cscs infrastructure anymore.

Since this is not using NCCL or gpu-aware MPI, this part should not have changed since the last working version, so I am really puzzled by this.

Maybe @teonnik or @simonpintarelli could have a look?

[2022-07-17 09:10] kabicm commented on #115
As @simonpintarelli also suggested, let's make sure it doesn't get out of gpu memory by setting:
[code]
By default these values are 5k, so you can try reducing them.

However, the gpu memory footprint has not changed since the last version, so this should in theory not be a problem.

[2022-07-17 14:04] fstein93 commented on #115
Well, it also fails the regtests. For a few tests, k=0 or a process might not have any local data depending on the distribution. Can that cause this issues on GPU only?

[2022-07-17 17:07] simonpintarelli commented on #115
I can't reproduce the bug using the miniapps (`test.pdgemm`, `test.multiply`).
@fstein93 Do you know what the matrix sizes in the cp2k regtest are?

[2022-07-17 17:59] fstein93 commented on #115
I am not familiar with all of them. I can provide more details in the following cases:
1. QS/regtest-ri-rpa, it is n=m=83, k=76 (*_H2O_*), n=m=14, k=0 (!) or k=22 (*_H_*, the failing one) and n=m=97, k=78 or k=104 (*_CH3_*).
2. I will do some checks tomorrow with the tests *_lr* because there, the sizes of n=m depend on the numerics.
3. QS/regtest-gw/G0W0_H2O_PBE_periodic.inp, it is probably n=m=8

[2022-07-17 19:46] fstein93 commented on #115
Meanwhile, there are some more results for larger benchmarks on Daint on GPU (see [here](https://dashboard.cp2k.org/archive/cray-xc50-daint-gpu-psmp_perf/commit_3150b468097d8b5fcca11b38c9be9510a1db25de.txt). The RPA benchmark is a larger version of the QS/regtest-ri-rpa test set with n=m=4352 and k=196,608.

[2022-07-17 21:42] kabicm commented on #115
Thank you Frederick for more details and thanks Simon for chiming in!

@fstein93 regarding your questions above:
- having k=0 in test cases is not a problem! cosma_pxgemm is well tested for those cases.
- if not all the ranks own the data is also not a problem! COSMA will in fact reduce the number of ranks further if the problem size is too small. Also, in most of the RPA cases, the matrix C is on

[2022-07-17 21:55] kabicm commented on #115
Thanks @oschuett for debugging it!

Would it be possible to uncomment those 4 lines from [this comment](https://github.com/eth-cscs/COSMA/issues/115#issuecomment-1186612270) and rerun it? Then we would have all the pdgemm parameters and could run this in isolation.

[2022-07-18 09:52] kabicm commented on #115
@oschuett Thanks Ole for the output! In the [latest commit](b5ba79e86c0c2530eafde963a1a77b6f797f27c8) I added now the test cases from your output with exactly the same parameters, that Simon can now run in isolation.

However, few things from your file caught my attention:
1. It seems the error happens within cholesky decomposition?
2. Did you link cp2k to `cosma_prefixed_pxgemm` library:
https://

[2022-07-18 10:08] kabicm commented on #111
@gsitaram Hey Gina, is this resolved?

[2022-07-18 10:09] kabicm commented on #109
@alazzaro Hey Alfio, do we have some more insights about this? Could it still be that this is a COSMA bug?

[2022-07-18 10:22] fstein93 commented on #115
All errors occur outside of Cholesky decompositions. In some cases (like lr), a Cholesky decomposition was carried out in advance, whereas in other cases (like RPA), it follows a Cholesky decomposition. The library test does not perform any kind of Cholesky decomposition. Interestingly, the other library tests for PDGEMM does not fail (see [here](https://github.com/cp2k/cp2k/blob/master/tests/LIBT

[2022-07-18 10:26] kabicm commented on #115
Thanks @fstein93 for clarifications! It seems I misunderstood the output then.

Hope Simon will be able to reproduce it by running the newly added tests.

Btw, do we know if `export CUDA_LAUNCH_BLOCKING=1` resolves the issue?

[2022-07-18 11:15] kabicm commented on #115
Simon managed to reproduce this errror, we are working on it!

[2022-07-18 13:16] alazzaro commented on #109
Confirmed, problem fixed.

[2022-07-18 13:16] #109 closed

[2022-07-18 15:10] gsitaram commented on #111
Hi @kabicm , unfortunately, not yet. Would be great if we could get some help from some CMake experts. My attempts have been futile.

[2022-07-20 09:35] kabicm commented on #115
@oschuett just a quick question: after you added those print statements, what is in your line:
	`at /home/ole/git/cp2k/tools/toolchain/build/COSMA-v2.6.0/libs/Tiled-MM/src/Tiled-MM/tiled_mm.cpp:475`

I want to see if the error occurred within: [round_robin](https://github.com/eth-cscs/Tiled-MM/blob/9e880f94d1c46114d514de3c33ef58c62b5a95ca/src/Tiled-MM/tiled_mm.cpp#L468) or within [round_robin_with

[2022-07-20 11:31] kabicm commented on #115
@oschuett @fstein93 are we sure the same tests were passing with the previous COSMA version, or are these tests new?

[2022-07-20 12:59] kabicm commented on #115
Thanks @fstein93! It's really hard to debug without access to any gpus :(

[2022-07-20 16:23] kabicm commented on #115
@oschuett @fstein93 the latest master now passes the failing tests from cp2k. Can you try the latest master, or do I have to make a new release so that you can test it?

[2022-07-21 07:02] fstein93 commented on #115
In general, we use only official releases of all libraries to ensure properly working libraries for the users. That is also how we proceed with DBCSR. Anyways, the fix is probably also relevant for your user base.

[2022-07-21 09:48] kabicm commented on #115
We would surely make a new release once we are sure this fixes the failing tests.

[2022-07-21 15:22] kabicm commented on #115
It seems the tests are now passing, at least on Pascal. So, I guess we can make a new release now. I will just make few smaller cmake modifications and then release.

[2022-07-21 17:18] kabicm commented on #115
The new version [COSMA-v2.6.1](https://github.com/eth-cscs/COSMA/releases/tag/v2.6.1) is now released. Let us know if there are any issues!

[2022-07-22 09:02] kabicm commented on #115
I will close this issue now. Feel free to reopen it if there are any problems with the new version [COSMA-v2.6.1](https://github.com/eth-cscs/COSMA/releases/tag/v2.6.1).

[2022-07-22 09:02] #115 closed

[2022-07-22 09:17] kabicm commented on #100
Is the problem you mentioned still present with the latest version: [COSMA-v2.6.1](https://github.com/eth-cscs/COSMA/releases/tag/v2.6.1)?

[2022-07-22 09:37] kabicm commented on #100
Btw, the gpu devices should be set outside of COSMA (e.g. in cp2k) and COSMA will just inherit the devices that were previously set. This could cause the issue you are referring to.

[2022-08-01 14:36] yaoyi92 commented on #100
Sorry for the late reply. Yes, the problem is still there. However, the message seems to show up after the job finished so it doesn't bother too much for now. We used the pxgemm_cosma wrapper you provided and we initialized our own GPU devices in our code (FHI-aims). It feels like the same situation with cp2k. Is there a solution for that?

Do you think it worth to try the destructor? Do you have

[2022-08-02 07:18] alazzaro commented on #100
The CP2K problem was really not due to COSMA. The MPI implementation registers some of the GPU buffers used in MPI communications. The error is that you get a double finalization (in MPI and COSMA), but not the problem is fixed and we leave COSMA to finalize.

[2022-08-15 13:24] fstein93 opened #118 "(Still) Excessive memory usage"
Dear authors,

I am one of the CP2K developers and I am working on our quartically-scaling SOS-MP2 and RPA implementations. Marko Kabic used energy-only calculations with RPA to benchmark COSMA (test system: 128 water molecules).
I am currently implementing gradients for these methods. I know that my gradient implementation (available in the CP2K master trunk) requires roughly 3-4 times the memory

[2022-08-25 12:36] github-actions[bot] opened #119 "cmake project version v2.6.1 does not match git tag v2.6.2"
The cmake version should be in sync with the git version to ensure the correct file names and sonames of shared libraries.

[2022-08-25 18:31] #119 closed

[2022-08-30 20:04] oschuett opened #120 "Add ability to disable NCCL at runtime"
I'd like to build COSMA with NCCL for CP2K. However, NCCL requires that every MPI rank has a dedicated GPU. Since this is not always the case, it would be great if there was a way to disable NCCL at runtime.

See also https://github.com/cp2k/cp2k/issues/2202.

[2022-11-08 15:43] loveshack opened #121 "build failure with nccl"
This is from trying to to update the spack package to 2.6.2 and provide NCCL/RCCL support, but it doesn't look as if it's related to spack.  Building fails when I enable NCCL, but works without it; I'm puzzled why, as it must usually work.

The cmake args which fail (with openmpi-4.1.4, cuda-11.4.1, nccl-2.14.3-1) are
[code]
It succeeds when -DCOSMA_WITH_NCCL=ON is removed.

There are two differen

[2022-11-20 14:37] oschuett commented on #120
Gentle ping :-)

[2022-11-25 12:43] airmler commented on #118
i am not a cosma developer but I can give an advice:
simply set
```export COSMA_CPU_MAX_MEMORY=XXX```
to a value around 2-3 times the value you need to store the matrices. This should be enough to find a reasonable setting for COSMA and you should outperform ScaLAPACK (at least for the largeK case).
ScaLAPACK should roughly need twice the memory as it uses the SUMMA algorithm.

[2022-11-26 09:03] fstein93 commented on #118
It does not help with the default settings. I could get it running by simply setting COSMA_ADAPT_STRATEGY=OFF. But I wonder why the default does not capture it properly.